
.footer-text-1, .footer-box-2, .footer-box-3{
    color: white;
}
.footer-icon i{
    color: white;
    cursor: pointer;
    font-size: 35px;
    padding-right: 7px;
    border-radius: 5px;
}
.footer-box-2 h3{
    text-transform: uppercase;
}
.footer-box-3 p{
    color: gray;
}


.copyright p{
    text-align: start;
}