
.plan-heading .nav-link{
    text-decoration: none;
    color: $black-color;
    padding: 8px 15px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0px;

    &:hover{
        background-color: $black-color;
        color: $white-color;
    }
}


.plan-heading{
    text-align: center;
    position: relative;

    h2{
        padding-bottom: 40px;
    }
    .line{
        content: " ";
        position: absolute;
        height: 2px;
        background-color: $black-color;
        top: 95px;
        left: 50%;
        transform: translate(-50%, -50%);    
    }
}

.dotted-line{
    border-bottom: 3px dotted $black-color;
    padding-top: 15px;
}

.plan-btn{
    text-align: center;
    padding-top: 30px;

    a{
        text-decoration: none;
        border: 3px solid $black-color;
        background-color: $black-color;
        color: $white-color;
        padding: 10px 30px;
        display: inline-block;

        &:hover{
            background-color: $white-color;
            color: $black-color;
        }
     }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: $black-color;
    color: $white-color;
}

